[Desktop Entry]
Version=1.4
Type=Application
Name=Calibrate Joystick (daemon)
Name[de]=Joystick kalibrieren (Daemon)
Name[es]=Calibrar Joystick (daemon)
Name[fr]=Calibrer le Joystick (daemon)
Name[it]=Calibrare il joystick (daemon)
Name[pt]=Calibre o Joystick (daemon)
Name[ru]=Калибровка джойстика (демон)
Categories=System;
Comment=Show calibration window when a joystick is inserted.
Comment[de]=Kalibrierungsfenster anzeigen, wenn ein Joystick eingesteckt ist.
Comment[es]=Mostrar la ventana de calibración cuando se inserta un joystick.
Comment[fr]=Afficher la fenêtre de calibration lorsqu'un joystick est inséré.
Comment[it]=Mostra la finestra di calibrazione quando è inserito un joystick.
Comment[pt]=Mostrar janela de calibração quando um joystick é inserido.
Comment[ru]=Показывать окно калибровки при вставленном джойстике.
Icon=input-gaming
Exec=calibrate-joystick -d
Keywords=controller,gamepad,joystick,input,calibrate,calibration
