[Desktop Entry]
Version=1.4
Type=Application
Name=Calibrate Joystick
Categories=System;
Comment=Quickly calibrate the range and dead zone of your joysticks.
Icon=input-gaming
Exec=calibrate-joystick
Terminal=false
X-GNOME-UsesNotifications=true
Keywords=controller,gamepad,joystick,input,calibrate,calibration
